extends ./layout/index

block contenido 
      main.container.mt-5
        .row 
          .col-md-5 
            img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
          .col-md-7
                        
            h1 #{texto}

            blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat venenatis enim blandit lacinia. Pellentesque vitae fermentum quam. Phasellus eu ante at est lacinia semper ut vitae nunc. 

            p Morbi sed velit a enim hendrerit volutpat. Sed sit amet lorem mauris. Integer ut auctor magna. In velit felis, venenatis sit amet sollicitudin vitae, condimentum aliquet ex. Proin nec tristique libero, ut sagittis leo. Donec a nisl varius, bibendum mi quis, pulvinar ligula. Sed dolor massa, fringilla at urna et, luctus dictum est. Nam varius aliquet pharetra.

            p Donec eu urna laoreet, vehicula tellus a, maximus nisi. Aenean mollis turpis a orci sollicitudin, quis blandit nibh tincidunt. Nulla sodales sed neque id tempor. Nunc tempus augue congue neque feugiat feugiat. Vivamus congue sem quis ex elementum, in accumsan arcu interdum. Sed et nulla sit amet dolor euismod bibendum sed eget augue. 

      .listado-iconos
        .container.mt-5.py-5.text-center
          .row 
            .col-md-4 
              img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mt-4")
              h2.mb-4 Seguridad 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta sapien in diam sollicitudin elementum nec non turpis. Sed luctus nibh et urna eleifend, et sollicitudin mauris dapibus.

            .col-md-4 
              img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mt-4")
              h2.mb-4 Mejores Destinos 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta sapien in diam sollicitudin elementum nec non turpis. Sed luctus nibh et urna eleifend, et sollicitudin mauris dapibus.

            .col-md-4 
              img(src="img/icono_precios.svg", alt="icono p" class="img-fluid mt-4")
              h2.mb-4 Los Mejores Precios 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta sapien in diam sollicitudin elementum nec non turpis. Sed luctus nibh et urna eleifend, et sollicitudin mauris dapibus.